@model List<ShoppingGo.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>血拚狗，專門賣別人沒有的東西喔~</h2>
    <h2>趕快來買喔！</h2>
</div>

<div class="row">
    @foreach (var product in this.Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="productImg" src="~/Image/@product.DefaultImageURL" alt="商品圖片" />
                <div class="caption">
                    <h3>@product.Name</h3>
                    <p>@product.Description</p>
                    <p>售價：@product.Price</p>
                    <p>庫存：@product.Quantity</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">加入購物車</a>
                        <a href="#" class="btn btn-default" role="button">詳細資訊</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>